@CHARSET "UTF-8";
#contactFormHolder {
    position: relative;
}
#contactFormHolder .requiredFields {
    text-align: right;
    width: 864px;
    position: absolute;
    top: -12px;
}
#contactFormHolder .disclaimer {
    /* has firefox hack */
    text-align: center;
    margin-left: 10px;
}
#contactFormHolder label {
    font-weight: bold;
    display: inline-block;
    width: 290px;
    text-align: right;
}
#contactFormHolder fieldset {
    border: 0;
    color: #A70B16;
}
#contactFormHolder fieldset div {
    color: #444;
}
#contactFormHolder #email {
    width: 151px;
}
#contactFormHolder .submit {
    float: right;
    position: relative;
    top: -30px
}
#catalogRightColumn {
    border: 1px solid;
    width: 882px;
    padding: 14px 15px 15px;
    border-color: #AAA;
}
#contactFormHolder .error {
    margin-left: 293px;
    text-align: center;
    width: 290px;
}
#contactFormHolder .remark {
    color: #A70B16;
    font-weight: bold;
}
@-moz-document url-prefix() {
    /* firefox hack */
    #contactFormHolder .disclaimer {
        margin-left: 12px;
        margin-top: -1px;
    }
}