@CHARSET "UTF-8";
#catalogRightColumn {
    border: 1px solid;
    width: 882px;
    padding: 14px 15px 15px;
    border-color: #AAA;
}
#resetPasswordConfirmationHolder  {
    position: relative;
}
#resetPasswordConfirmationHolder  fieldset legend {
    color: #A70B16;
}
#resetPasswordConfirmationHolder  fieldset {
    border: 0;
}
#resetPasswordConfirmationHolder  fieldset div {
    color: #444;
}
#resetPasswordConfirmationHolder .remark {
    color: #A70B16;
    font-weight: bold;
}
